/* for simple transition effect animation */
@mixin transition($time) {
    -webkit-transition: $time ease-in-out;
    -ms-transform: $time ease-in-out;
    transform: $time ease-in-out;
} 

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

@mixin font-size($size) {
    font-size: $size;
}    

@mixin margin-tb($margin) {
    margin-top: $margin * 1px;
    margin-bottom: $margin * 1px;
}