/* Backgrounds */
$main-bg: #f5f5f2;
$sidebar-bg:#191919;

/* Colors */
$main-font-color: #333;
$grey-font-color: #a6a6a6;
$dark-grey: #979797;
$grey: #bababa;
$light-grey: #e3e3e3;
$orange: #f58220;
$light-orange: #ffa200;
$green: #04ae00;
$light-green: #74b67a;
$lighter-green: #96cc9b;
$dark-red: #de5252;
$red: #ff0000;
$light-red: #ec7171;
$blue: #56819f;

/* Font sizes */
$side-menu-font-size: 14px;
$button-font-size: 18px;

/* font weight */
$normal: 300;
$bold: 500;
$bolder: 700; 

/* Fonts */
$roboto-font: 'Roboto', sans-serif;

