@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/menus";
@import "sections/tables";
@import "components/icons";
@import "components/buttons";
@import "sections/homepage/homepage_general_section";
@import "sections/homepage/homepage_links";

body {
    background-color: $main-bg;
    font-family: $roboto-font;
    font-weight: $normal;
    color: $main-font-color;
    margin-left: 200px;
    margin-top: 62px;
}

img {
    max-width: 100%;
    height: auto;
  }
a {
    text-decoration: none;
}  
/* main containers fixed sizes */
.container-top {
    width: 1200px;
    margin: 100px auto 50px auto;
}
.container {
    @extend .container-top;
    margin: 50px auto;
}

/* font styles */

    //colors
    .blue-paragraph {
        color: $blue;
        &:hover {
            color: $links-hover;
        }
    }
    .grey-color {
        color: $grey-font-color;
    }

    //weight
    .normal {
        font-weight: $normal;
    }
    .bold {
        font-weight: $bold;
    }
    .bolder {
        font-weight: $bolder;
    }

/* margins */

.margin-tb-60 {
    @include margin-tb(60);
}

/* text transformations */

.uppercase {
    text-transform: $uppercase;
}

/* text styles */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

/* hr classes */
.grey-thin {
    width: 100%;
    height: 1px;
    background-color: $main-font-color;
    border: none;
    margin: 30px 0;
}
.lightgrey-thin {
    @extend .grey-thin;
    background-color: $light-grey;
}

/* styled headings */

.main-heading {
    color: $grey-font-color;
    border-bottom: 2px solid $light-grey;
    padding: 10px 20px;
}


/* main page */

    /* general section */
    .white-bg {
        background-color: $section-bg;
    }
    