@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components/buttons";

body {
    background-color: $main-bg;
    font-family: $roboto-font;
    color: $main-font-color;
}