.general-stats {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    .refresh-button {
        position: relative;
        //top: 6px;
        margin-left: 20px;
    }
    .padding-b-40 {
        padding-bottom: 40px;
    }
    .for-mainpage {
        padding: 10px 25px;
    }

}
