.homepage-links {
    td {
        padding: 10px;
    }
    svg {
        cursor: pointer;
        //margin: 0;
        //padding: 10px;
            &:hover {
                fill: $orange;
                }    
        }
    .trash {
        &:hover {
            fill: $red !important;  
        }
    }      
}
.layer {
    width: 100%;
    opacity: 0;
}
tr:hover .layer {
    width: 100%;
    opacity: 1;  
}

.padding-20 {
    padding: 20px;
}
