.btn {
    border-radius: 3px;
    border: none;
    color: white;
    font-size: $button-font-size;
    font-weight: $normal;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.btn-default {
    @extend .btn;
    background-color: $orange;
    @include transition(0.7s);
    &:hover,
    &:active {
        background-color: $light-orange;
    }
}
.refresh-button {
    position: relative;
    //top: 6px;
    left: 20px;
    svg {
        padding: 0 4px;
        fill: white;
    }
}
.btn-submit {
    margin-bottom: 30px;
}
.btn-grey {
    @extend .btn;
    background-color: $dark-grey;
    @include transition(0.7s);
    &:hover,
    &:active {
        background-color: $light-orange;
    }
}
.btn-rounded {
    width: 40px;

    border-radius: 100%;
    svg {
        transform: rotate(180deg);
    }
    .icons-for-links {
        width: 20px !important;
        margin: 0 !important;
    }
}
.btn-chat {
    position: absolute;
    left: 78%;
    svg {
        top: 12px !important;
        left: 10px !important;
        fill: white !important;
    }
} 
.btn-status {
    font-size: $side-menu-font-size;
    color: white;
    background-color: green;
    height: auto;
    padding: 2px;
}